@page "/game"
@using TDD_Squirrel.Components

<h4>Spielvorbereitung</h4>
<div class="game-preparation">
    <span class="input-content">
        <input type="number" class="input-numbers" name="numberOfRowsInput" min="0" max="10" @bind-value="@NumberOfRows" disabled="@_isPlayingFieldSquare" />
        <label>Anz. Spielreihen</label>
    </span>
    <span class="input-content">
        <input type="number" class="input-numbers" name="numberOfFieldsInput" min="0" max="10" @bind-value="@NumberOfFields" />
        <label>Anz. Spielfelder pro Reihe</label>
    </span>
    <span class="input-content">
        <input type="checkbox" name="isPlayingFieldSquare" checked="@_isPlayingFieldSquare" @onchange="OnIsPlayingFieldSquareValueChanged" />
        <label>Spielfeld quadratisch</label>
    </span>
    <br/>
    <button @onclick="StartNewGame" class="btn btn-primary button-peparation">Spielstart - Let's play</button>
</div>

@if (ShowGame)
{
    <div>
        <h4>Spielbrett</h4>
        <button @onclick="MovePiece" class="button-diece" disabled="@DisabledDie">
            <span class="icon-cube @(DisabledDie ? "icon-disabled":"")"></span>
        </button>
        @if (DisabledDie)
        {
            <div class="game-end-notification">
                Spieler:in 1 hat gewonnen - Herzlichen Glückwunsch!
            </div>
        }

        <div>
            @for (var rowIndex = 0; rowIndex < NumberOfRows; rowIndex++)
            {
                <div class="row-content">
                    @for (var fieldIndex = 0; fieldIndex < NumberOfFields; fieldIndex++)
                    {
                        var localFieldIndex = fieldIndex;
                        <Field>
                            @if (localFieldIndex == PiecePosition)
                            {
                                <div class="field-content">
                                    <GameFigure></GameFigure>
                                </div>
                            }
                        </Field>
                    }
                </div>
            }
        </div>
    </div>
}