@page "/game"
@using TDD_Squirrel.Components
@using SnakesAndLaddersLib
@using TDD_Squirrel.Models

<PageTitle>Leiter/Schlangen Brettspiel</PageTitle>

<h4>Spielvorbereitung</h4>
<div class="game-preparation">
    <span class="input-content">
        <input type="number" class="input-numbers" name="numberOfFieldsInput" min="0" max="10" @bind-value="@_preparationPayingFileSize" />
        <label>Anz. Spielfelder (Quadratisch)</label>
    </span>
    <br/>
    <button @onclick="StartNewGame" class="btn btn-primary button-peparation">Spielstart - Let's play</button>
</div>

@if (_showGame)
{
    <div>
        <h4>Spielbrett</h4>
        <div class="game-information">
            <button @onclick="MovePiece" class="button-diece" disabled="@_disabledDie">
                <span class="icon-cube @(_disabledDie ? "icon-disabled" : "")"></span>
            </button>
            @if (_disabledDie)
            {
                <WinnerPopUp WinnerId="1"></WinnerPopUp>
            }
        </div>

        <div>
            @if (_actionFields.Any())
            {
                <svg class="game-svg" style="width: @_svgSize; height: @_svgSize">
                    <marker id="ladder-arrow" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth">
                        <path d="M0,0 L0,6 L9,3 z" class="ladder-arrow"></path>
                    </marker>

                    <marker id="snake-arrow" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth">
                        <path d="M0,0 L0,6 L9,3 z" class="snake-arrow"></path>
                    </marker>
                    
                    @foreach (var actionField in _actionFields)
                    {
                        <line class="game-action-field @(actionField.ActionType == GameActionType.Ladder ? "ladder" : "snake")"
                            x1="@actionField.Start.X" y1="@actionField.Start.Y" 
                            x2="@actionField.End.X" y2="@actionField.End.Y"
                            marker-end="@(actionField.ActionType == GameActionType.Ladder ? "url(#ladder-arrow)" : "url(#snake-arrow)")" />
                    }
                </svg>
            }
            @for (var rowIndex = 0; rowIndex < _rowsCount; rowIndex++)
            {
                <div class="row-content">
                    @for (var fieldIndex = 0; fieldIndex < _columnsCount; fieldIndex++)
                    {
                        var fieldPosition = new Position(fieldIndex, rowIndex);
                        <Field>
                            @if (fieldPosition == _startFieldPosition)
                            {
                                <div class="field-text">START</div>
                            }

                            @if (fieldPosition == _endFieldPosition)
                            {
                                <div class="field-text">ZIEL</div>
                            }

                            @if (fieldPosition == _piecePosition)
                            {
                                <div class="field-content">
                                    <GameFigure></GameFigure>
                                </div>
                            }
                        </Field>
                    }
                </div>
            }
        </div>
    </div>
}